
<h1>Welcome to AlloySecrets Research Facilitation App</h1>

<p>Upload and do full text searches on a superfast indexed search powered by redis on a mongodb pdf storehouse</p>

<p> <%= link_to "books/index" %></p>
<p> <%= link_to "books/index" %></p>